body{
    background-color: gray;
    color: blanchedalmond;
}

nav{
    height: 500px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200px;
}
    
#memePic{
    margin-right: 200px;
    text-align: center;
}

#bodyText{
    margin-right: 200px;
}

header{
    text-align: center;
}

